<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="org.TestNg.Example">
      <parameter name = "username" value ="vignesh1909">
      </parameter>
      <parameter name = "userpass" value = "770870">
      </parameter>
      <methods>
      <include name = "testOne">
      </include>
      </methods>
      </class>
       <class name="org.TestNg.Example1">
      <parameter name = "username" value ="vignesh1606">
      </parameter>
      <parameter name = "userpass" value = "19091606">
      </parameter>
      <methods>
      <include name = "testTwo">
      </include>
      </methods>
      </class>
       </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
